.sidebar{
	float: right;
	text-align: center;
	margin: 20px;
	position: relative;
	top: 5em;
}

ol li{
	display: inline;
	margin: 5px;
}

img{
	display: block;
	margin: 0px auto;
}

.sidebar p{
	width: 15em;
}